USE [master]
GO
/****** Object:  Database [GENERALA]    Script Date: 28/10/2025 7:57:07 ******/
CREATE DATABASE [GENERALA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GENERALA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GENERALA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GENERALA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GENERALA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GENERALA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GENERALA]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 28/10/2025 7:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Usuario_Id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 28/10/2025 7:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Bitacora] ([Id], [Tipo], [Descripcion], [Fecha], [Usuario_Id]) VALUES (1, N'InicioSesión', N'Inicio de sesión de Facu', CAST(N'2025-10-28T07:55:29.740' AS DateTime), 12)
GO
INSERT [dbo].[USUARIO] ([ID], [NombreUsuario], [Contraseña]) VALUES (1, N'Facundo', N'1234')
INSERT [dbo].[USUARIO] ([ID], [NombreUsuario], [Contraseña]) VALUES (2, N'Lucas', N'1111')
INSERT [dbo].[USUARIO] ([ID], [NombreUsuario], [Contraseña]) VALUES (3, N'Guadalupe', N'888')
GO
ALTER TABLE [dbo].[Bitacora] ADD  CONSTRAINT [DF_Bitacora_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
/****** Object:  StoredProcedure [dbo].[BITACORA_INSERTAR]    Script Date: 28/10/2025 7:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BITACORA_INSERTAR] 
@Tip varchar(50), @Desc varchar(100), @idus int = null
AS
BEGIN
declare @id int;
set @id = (SELECT ISNULL (MAX(id) , 0)+1 from Bitacora);

 INSERT INTO  BITACORA (id,tipo,descripcion, Usuario_id) VALUES
 (@id, @tip, @Desc,@idus);
END
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_INSERTAR]    Script Date: 28/10/2025 7:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USUARIO_INSERTAR]
    @nombre NVARCHAR(50),
    @contraseña NVARCHAR(100)
AS
BEGIN
declare @id int;
set @id = (SELECT ISNULL (MAX(id) , 0)+1 from usuario);
    INSERT INTO Usuario (id,NombreUsuario, Contraseña)
    VALUES (@id, @nombre, @contraseña);
END
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_VALIDAR]    Script Date: 28/10/2025 7:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USUARIO_VALIDAR]
    @nombre NVARCHAR(50),
    @contraseña NVARCHAR(100)
AS
BEGIN
    SELECT Id, NombreUsuario, Contraseña 
    FROM Usuario
    WHERE NombreUsuario = @nombre 
      AND Contraseña = @contraseña 
      
END
GO
USE [master]
GO
